.section-contact {
    margin-top: 165px;
}

.suptitle-contact {
    margin-bottom: 74px;
}

.contact__row {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.contact__col {
    position: relative;
    width: 50%;
}

.contact-phone,
.contact-mail {
    position: relative;
    font-size: 43px;
    color: #000;
}

.contact-phone {
    display: block;
}

.contact-mail {
    transition: .1s linear;
}

.phone-img, 
.mail-img {
    position: absolute;
    top: -24px; 
    left: 0;
    width: 24px;
}

.mail-img {
    height: 16px;
}

.contact-mail:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(18, 18, 18, .5);
    opacity: 0;
    transition: .2s linear;

    bottom: 0;
    left: 0;
}

.contact-mail:hover {
    color: rgba(18, 18, 18, .5);
}

.contact-mail:hover:after {
    opacity: 1;
}