.footer {
    background-color: #000;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-footer {
    margin-bottom: 87px;
    padding-top: 76px;
}

.nav__link-footer {
    color: #fff;
}

.copyright {
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
    color: #858585;
}

