/* .section-intro {

} */

.title-intro {
    margin-bottom: 37px;
    width: 956px;
}

.intro-bg {
    background: url(/resources/intro-bg.png) no-repeat;
    height: 500px;
}

.intro__content {
    width: 430px;
    padding: 382px 680px 40px 40px;
    font-size: 19px;
    line-height: 26px;
    color: #fff;
}