/* .section-intro {

} */

.title-intro {
    margin-bottom: 37px;
}

.intro-bg {
    background: url(../resources/intro-bg.png) no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}

.intro__content {
    position: absolute;
    width: 430px;
    left: 40px;
    bottom: 40px;
    font-size: 19px;
    line-height: 26px;
    color: #fff;
}