.testimonials__row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 80px;
}

.testimonials__col {
    width: 100%;
}

.testimonials__name {
    font-size: 45px;
    margin-bottom: 15px;
}

.testimonials__content {
    font-size: 22px;
    line-height: 30px;
}